<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="{{BaseURL +dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail',prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>

          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail',next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
        </mat-card-actions>
      </mat-card>


    
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list >
      <h3> Comments </h3>
      <mat-list-item *ngFor="let item of dish?.comments">
        <!-- <img matListAvatar src={{dish.image}} alt={{dish.name}}> -->
        <h1 matLine> {{item?.comment}} </h1>
        <p matLine> {{item?.rating}} Stars</p>
        <p matLine>
          <span> -- {{item?.author}} {{item?.date | date}} </span>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid">
          <p mat-line>
            <span> {{comment.comment}} </span>
          </p>
          <p mat-line>
            <span> {{comment.rating}} Stars</span>
          </p>
          <p mat-line>
            <span> -- {{comment.author}}</span>
          </p>
        </mat-list-item>
    </mat-list>
    <form novalidate [formGroup]="commentForm"  #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width" >
            <input matInput formControlName="author" placeholder="Name" type="text" >
         <mat-hint> 
           <span [hidden]="!(formErrors.author)">{{ formErrors.author }}</span>
          </mat-hint> 
          <!-- <mat-error *ngIf="formErrors.author">{{ formErrors.author }}
            </mat-error> -->
          </mat-form-field> 
        </p>
        <p>  
                  <mat-slider formControlName="rating"
                      class="example-margin"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [value]="value"
                      [thumbLabel]="thumbLabel"
                      tickInterval=1>
                  </mat-slider>             
        </p>
    
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 ></textarea>
            <mat-hint>
                <span [hidden]="!(formErrors.comment)">
                    {{formErrors.comment}}</span>
              </mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" 
        mat-button class="background-primary text-floral-white"
        [disabled]="commentForm.invalid">Submit</button>
      </form>
    
  </div>
  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait!</h4>
  </div>

  
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  
      
</div>



